{% extends "base.html" %}

{% block title %}<title>หน้าแรกของเว็บไซต์</title>{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-primary">ยินดีต้อนรับเข้าสู่ประชากร</h3>
    <hr>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">รหัสประชากร</th>
                <th scope="col">ชื่อประชากร</th>
                <th scope="col">อายุ</th>
                <th scope="col">วันที่เพิ่มข้อมูล</th> <th scope="col">แก้ไข</th>
                <th scope="col">ลบ</th>
            </tr>
        </thead>
        <tbody>
            {% for person in all_Person %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td>{{ person.date|date:"F d, Y" }}</td>
            <td><a href="#" class="btn btn-sm" style="background-color: orange; color: black;">แก้ไข</a></td>
            <td><a href="#" class="btn btn-sm" style="background-color: pink; color: black;">ลบ</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}